html {
    background-color: white;  /* sets background behind body to white */
    
}

/* reset selector */
* { 
    margin: 0;
    padding: 0;}

/* the styles for the body element */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded; /* background of body */
   
}

a { font-weight: bold; }
a:link { color: #931420; } /* color before clicked */
a:visited { color: #f2972e;} /* color after clicked */
a:hover, a:focus { color: blue; } /* mouse hover highlight */

/*ul { line-height: 1.5; }
li, p { font-size: 95%; }*/
em { font-weight: bold; }


/* gradient for the header */
header {
    
     background-image: -webkit-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100% );	
	background-image: -moz-linear-gradient(top, white 0%, #facd8a 100%);
	background-image: -o-linear-gradient(top, white 0%, #facd8a 100%);
	background-image: linear-gradient(top, white 0%, #facd8a 100%);	

}

/* the styles for the header image */
header img { float: left;
padding-top: 1em;
padding-bottom: 2em;
padding-right: 30px;
padding-left: 30px;
clear:both;}





#nav_menu ul {    
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
}
#nav_menu ul li { 
    float: left;
}

#nav_menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}


#nav_menu a.current {
    color: yellow;
   
}

#nav_menu ul ul {
    display: none;
    position: relative;
    top: 100%;
} 



#nav_menu ul ul li { 
    float: none;
}
#nav_menu ul li:hover > ul {
    display: block; 
}
#nav_menu > ul::after {
    content: "";
    clear: both; 
    display: block;
    
}





article {
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 2px;
    border-top: 2px;
    border-color: #800000;
}
article p {
    font-size: 90%;
}

article img {
    float: right;
    margin: .5em;
    margin-bottom: 1em;
    border: 1px solid black;
}

header h1 {
    font-size: 105%;
    padding-top: .5em;
    padding-bottom: .25em;
    margin-top: 0;
    margin-bottom: 0;
}
header h2 {
    font-size: 170%; 
    color: #800000;
    text-align: left;
    text-shadow: 2px 2px 2px black;
     padding-top: .5em;

    
    
}
header h3 {
    font-size: 130%;
    font-style: italic;
    text-align: left;
    padding-top: .5em;
padding-bottom: 1em;
padding-right: 30px;
padding-left: 30px;

    border-bottom: 3px solid #931420;
    
}

/* the styles for the main cantent */
main { clear: left;
   
   }

section {
    width: 525px;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
aside {
    width: 215px;
    float: right;
    padding-bottom: 20px;
    padding-left: 20px;
    
}

aside h1 { font-size: 105%;
	padding: 2.5em 0 .25em 0;
	margin: 0;

        
}

section h1 { font-size: 105%;
        color: #800000;
        padding-top: 0;
        padding: 1.5em 0 .25em 0;
}

section h2 { font-size: 105%;
        color: #800000;
        padding-top: 0;
        padding: 2.5em 0 .25em 0;
}

section h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

section blockquote {
     padding-top: .5em;
        padding-bottom: .25em;
     padding-left: 2em;
    padding-right: 2em;
    text-indent: 10px;
}

main p.indent { text-indent: 2em; }
main a.date_passed { color: gray; }

/* the styles for the footer */
footer {
    clear: both;  /* clear floats */
}
footer p {
font-size: 80%;
text-align: center;
    border-bottom: 3px solid #931420;
        border-top: 3px solid #931420;
    background-color: #931420;
    color: white;
    padding-top: 1em;
        padding-bottom: 1em;
}